[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
isort = "*"
py-etherscan-api = {file = "https://github.com/corpetty/py-etherscan-api/archive/18ee101.zip"}
eth-account = "*"
"web3" = "*"
rlp = "*"
requests-cache = "*"
eth-utils = "*"

[requires]
python_version = "3.6"
